@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Accountant</h1>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register new tenant &raquo;</a></p>
</div>
